@import 'scss/normalize.scss';

// === Mixins ===
@mixin font-roboto {
    font-family: 'Roboto', sans-serif;
}

@mixin font-nunito {
    font-family: 'Nunito', sans-serif;
}
// === / Mixins ===

// === Variables ===
$color-white: #ffffff;
$color-button: #93A5FF;
$color-input: #384170;
$color-p: #2E2E2E;
$color-block: #F7F8FF;
$color-content: #424D83;

$opasity: 0.8;

$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;

$screen-sm-max: 767px;
$screen-md-max: 991px;
$screen-lg-max: 1199px;

// === / Variables ===

// === Common ===
* {
    box-sizing: border-box;
}

body {
    @include font-roboto;
    @include font-nunito;
}

.section-outer {
    padding-left: 20px;
    padding-right: 20px;
}
.section-inner {
    max-width: 1639px;
    margin: 0 auto;
}
a {
    color: $color-white;
    text-decoration: none;
}

button {
    @include font-nunito;
    
    color: $color-white;
    border: none;
    margin: 0;
    padding: 0;
    outline: none;
}

input {
    @include font-nunito;

    color: $color-white;
    border: none;
    margin: 0;
    padding: 0;
    outline: none;
}

// === / Common ===

// === header ===
.section-header {
    color: $color-white;
    background: url('../svg/Group\ 138.svg') no-repeat 50% 50%;
    background-size: cover;
    
    .section-inner {
        display: flex;
        flex-direction: column;
        height: 100vh;        
    }
    
    &-nav {
        display: flex;
        justify-content: space-between;
        
        &-logo {
            padding-top: 50px;
            min-width: 98px;
            span {
                font-weight: bold;
                font-size: 20px;
            }
        }
        &-menu {
            display: flex;
            align-items: flex-end;
            justify-content: space-between;         
            
            &-items {
                display: inline-flex;
                width: 110px;
                font-size: 20px;
                line-height: 27px;
                padding-top: 50px;
                justify-content: center;
                border-radius: 0 0 5px 5px;
            }
            &-items:not(first-child) {
                margin-left: 40px;
            }

            &-items:first-child {
                background-color: $color-button;
            }

            &-items:nth-child(4) {
                width: 180px;
                margin-right: 50px;
            }
            &-button {
                width: 123px;
                height: 54px;
                font-weight: bold;
                font-size: 20px;
                color: $color-button;
                border-radius: 5px;
                background-color: $color-white;
            }
        }
        @media (max-width: $screen-lg-max) {
            &-menu {
                &-items:not(first-child) {
                    margin-left: 10px;
                }
                &-items:nth-child(4) {
                    margin-right: 10px;
                }
            }
        }
    }
    &-content {
        display: flex;
        flex-grow: 1;
        align-items: center;
        justify-content: space-between;
    }
    
    &-picture {
        
        img {
            
        }
    }
    
    &-wrapper {
        display: flex;
        flex-direction: column;
                
        &__title {
            @include font-roboto;
            font-weight: bold;
            font-size: 49px;
            line-height: 64px;
            padding-bottom: 14px;
            }

        &__subtitle {
            font-size: 28px;
            line-height: 38px;
            padding-bottom: 43.5px; 
        }

        &__form {
            display: flex;
            width: 722px;
            
            &-input-one {
                input {
                    width: 346px;
                    font-size: 20px;
                    line-height: 27px;
                    padding: 16px 17px;
                    border-radius: 5px;
                    background-color: $color-input;
                    margin-right: 1px;

                    &::placeholder {
                        color: $color-white;
                    }
                }
            }

            &-input-two {
                input {
                    width: 123px;
                    font-size: 20px;
                    line-height: 27px;
                    padding: 16px 17px;
                    border-radius: 5px;
                    background-color: $color-input;

                    &::placeholder {
                        color: $color-white;
                    }
                    &::-webkit-calendar-picker-indicator {
                        opacity: 1;
                    }
                }
            }

            &-button {
                button {
                    width: 222px;
                    font-size: 18px;
                    line-height: 27px;
                    background-color: $color-button;
                    padding: 16px 17px;
                    border-radius: 5px;
                    margin-left: 31px;
                }
            }
        }
        @media (max-width: $screen-lg-max) {
            
        }
    }
    @media (max-width: 1200px) {
        &-content {
            flex-direction: column;
            justify-content: center;
        }
    }
}
// === / header ===

// === why-us ===
.section-why-us {

    &-title {
        text-align: center;
        h1 {
            font-size: 35px;
            margin: 81px auto 0 auto;
        }
        p {
            font-size: 28px;
            opacity: $opasity;
        }
    }

    &-content {
        display: flex;
        &-main,
        &-picture {
            flex-basis: 50%;
        }

        &-main {
            margin-bottom: 106px;
            &-post {
                padding-right: 109px;
                padding-bottom: 60px;
                position: relative;
                h1 {
                    font-size: 23px;
                    padding-left: 100px;
                }
                p {
                    font-size: 23px;
                    padding-left: 100px;
                    color: $color-p;
                    opacity: $opasity;
                }
                img {
                    position: absolute;
                    left: 0;
                    top: 0;
                }
            }
        }
        &-picture {
            img {
                width: 100%;
                height: auto;
            }
        }
    }
}
// === / why-us ===

// === support ===
.section-support {
    background-color: $color-block;

    &-title {
        display: flex;
        flex-direction: column;
        
        &__header {
            padding-top: 100px;
            font-size: 35px;
            font-weight: bold;
            line-height: 47px;
            margin: 0 auto;
            margin-bottom: 10px;
        }
        &__subtitle {
            font-size: 28px;
            line-height: 38px;
            opacity: $opasity;
            margin: 0 auto;
        }
    }

    &-content {
        display: flex;
        margin-top: 80px;
        padding-bottom: 110px;

        &-block {
            display: flex;
            flex-direction: column;
            flex-basis: 50%;
            border-radius: 5px;

            &-head {
                display: flex;
                justify-content: space-between;

                &__icon {
                    display: flex;
                    width: 77px;
                    height: 77px;
                    margin: 46px auto auto 50px;
                    background-color: $color-content;
                    border-radius: 5px;
                        img {
                            margin: auto;
                        }
                }

                &__icon-two {
                    display: flex;
                    width: 77px;
                    height: 77px;
                    margin: 50px auto auto 50px;
                    background-color: $color-button;
                    border-radius: 5px;
                        img {
                            margin: auto;
                        }
                }

                &__picture-1 {
                    margin: 35px 19px auto auto;
                }

                &__picture-2 {
                    margin: 0;
                }
            }

            &__title {
                font-size: 23px;
                font-weight: bold;
                color: $color-white;
                margin-left: 50px;
                margin-bottom: 24px;
                margin-top: 43px;
            }
            &__subtitle {
                width: 87%;
                font-size: 20px;
                color: $color-white;
                margin-left: 50px;
                margin-bottom: 20px;
            }
            &__button {
                display: flex;
                flex-direction: row-reverse;
                button {
                    width: 180px;
                    height: 54px;
                    background-color: $color-white;
                    border-radius: 5px;
                    color: $color-button;
                    font-size: 18px;
                    font-weight: bold;
                    margin-right: 50px;
                    margin-bottom: 44px;

                    img {
                        margin-left: 15px;
                    }
                }
            }
        }

        &-block:nth-child(1) {
            background-color: $color-button;
            margin-right: 106px;
        }

        &-block:nth-child(2) {
            background-color: $color-content;
        }
    }
}
// === / support ===

// === services ===
.section-services {
    &-title {
        display: flex;
        flex-direction: column;
        &-header {
            padding-top: 100px;
            font-size: 35px;
            font-weight: bold;
            line-height: 47px;
            margin: 0 auto;
            margin-bottom: 10px;
        }
        &-subtitle {
            font-size: 28px;
            line-height: 38px;
            opacity: $opasity;
            margin: 0 auto;
        }
    }
    &-main {
        display: flex;
        justify-content: space-between;
        margin-top: 80px;
        padding-bottom: 96px;
        &-post {
            flex-basis: 23%;
            align-self: flex-start;
            box-shadow: 
            1px 1px 10px 0 #dfdfdf,
            -1px -1px 10px 0 #dfdfdf;
            text-align: center;
            border-radius: 5px;
            position: relative;
            img {
                margin: 80px auto 0 auto;
                display: block;
                &.post-2 {
                    margin: 70px auto 0 auto;
                }
            }
            h2 {
                font-size: 23px;
                margin-top: 36px;
            }
            p {
                width: 75%;
                font-size: 20px;
                margin: 24px auto 36px auto;
                color: $color-p;
                &.price {
                    width: 60%;
                    margin-top: 36.5px;
                    span {
                        font-size: 40px;
                    }
                }
            }
            &-line {
                border-top: 1px solid #EBEBEB;
                margin-top: 46.5px;
            }
            
            &-hover {
                border: 5px solid $color-button;
            }
            button {
                width: 58%;                
                margin: 0 auto 60px auto;
                a {
                    display: flex;
                    color: $color-button;
                    padding: 15px;
                    font-size: 18px;
                    font-weight: bold;
                    img {
                        margin: 0;
                        padding-left: 18px;
                    }
                }
            }
        }
    }
}
// === / services ===

// === testimonials ===
.section-testimonials {
    background-color: $color-block;
    &-title {
        display: flex;
        flex-direction: column;
        &__header {
            padding-top: 100px;
            font-size: 35px;
            font-weight: bold;
            line-height: 47px;
            margin: 0 auto;
            margin-bottom: 10px;
        }
        &__subtitle {
            font-size: 28px;
            line-height: 38px;
            opacity: $opasity;
            margin: 0 auto;
        }
    }
    &-slider {
        display: flex;
        margin: 0 auto;
        margin-top: 80px;
        padding-bottom: 90px;
        
        &-wrapper {
            display: flex;
            min-width: 0;
            position: relative;
            padding: 0 50px;
            flex-direction: column;

            &-item {
                display: flex;
                min-width: 0;
                margin: 0 50px;
                img {
                    width: 108px;
                    height: 108px;
                }
                &__title {
                    align-self: flex-start;
                    img {
                        width: 135px;
                        height: 18.5px;
                        margin-top: 20px;
                    }
                    p {
                        font-style: italic;
                        font-size: 23px;
                        color: $color-p;
                    }
                    span {
                        font-weight: bold;
                        font-size: 20px;
                        color: $color-p;
                    }
                }
            }
        }
        &-nav {}
        &-button {
            margin: 0 auto;
        }
    }
}

/* Слайдер */
.slick-slider{}
/* Слайдер запущен */
.slick-slider.slick-initialized{}
/* Слайдер с точками */
.slick-slider.slick-dotted{}
/* Ограничивающая оболочка */
.slick-list {
    overflow: hidden;
}
/* Лента слайдов */
.slick-track{
    display: flex;
}
/* Слайд */
.slick-slide{}
/* Слайд активный (показывается) */
.slick-slide.slick-active{}
/* Слайд основной */
.slick-slide.slick-current{}
/* Слайд по центру */
.slick-slide.slick-center{}
/* Клонированный слайд */
.slick-slide.slick-cloned{}
/* Стрелка */
.slick-arrow{}
.section-testimonials-slider-wrapper .slick-arrow{
    position: absolute;
    top: 50%;
    z-index: 10;
    font-size: 0;
    width: 52px;
    height: 54px;
    margin-top: -30px;
}
/* Стрелка влево */
.slick-arrow.slick-prev{}
.section-testimonials-slider-wrapper .slick-arrow.slick-prev {
    left: 0;
    background: url('../svg/left_btn.png') 0 0 / 100% no-repeat;
}
/* Стрелка вправо */
.slick-arrow.slick-next{}
.section-testimonials-slider-wrapper .slick-arrow.slick-next {
    right: 0;
    background: url('/svg/right_btn.png') 0 0 / 100% no-repeat;
}
/* Стрелка не активная */
.slick-arrow.slick-disabled{}
/* Точки (булиты) */
.slick-dots{}
.slick-dots li{}
/* Активная точка */
.slick-dots li.slick-active{}
/* Элемент точки */
.slick-dots li button{}

.section-testimonials-slider-wrapper .slick-dots {
    display: flex;
    align-items: center;
    justify-content: center;
}
.section-testimonials-slider-wrapper .slick-dots li {
    list-style: none;
    padding: 0 10px;
}
.section-testimonials-slider-wrapper .slick-dots li.slick-active button {
    opacity: 100%;
    width: 20px;
    height: 20px;
    box-shadow: 
        1px 1px 5px 0 #d4d4d4,
        -1px -1px 5px 0 #d4d4d4;
}
.section-testimonials-slider-wrapper .slick-dots li button {
    font-size: 0;
    width: 12px;
    height: 12px;
    background-color: $color-button;
    border-radius: 50%;
    opacity: 38%;
}
// === / testimonials ===

// === clients ===
.section-clients {
    &-title {
        display: flex;
        flex-direction: column;
        &__header {
            padding-top: 100px;
            font-size: 35px;
            font-weight: bold;
            line-height: 47px;
            margin: 0 auto;
            margin-bottom: 10px;
        }
        &__subtitle {
            font-size: 28px;
            line-height: 38px;
            opacity: $opasity;
            margin: 0 auto;
        }
    }
    &-partners {
        margin-top: 80px;
        margin-bottom: 70px;
        img {
            margin-left: 148px;
            width: 10%;
        }
    }
    &-button {
        margin: 0 auto 116px auto;
        text-align: center;
        a {
            width: 177px;
            font-size: 18px;
            line-height: 27px;
            background-color: $color-button;
            padding: 16px 17px;
            border-radius: 5px;
        }
    }
    @media (max-width: $screen-lg-max) {
        &-partners {
            img {
                margin-left: 30px; 
            }
        }
    }
}
// === / clients ===

// === footer ===
.section-footer {
    background: url('../svg/footer_bg.svg') no-repeat;
    background-size: cover;
    h2 {
        color: $color-white;
        font-size: 23px;
    }
    span, p {
        color: $color-white;
        font-size: 20px;
    }
    &-main {
        display: flex;
        padding-top: 200px;
        justify-content: space-between;
        &-content {
            display: flex;
            flex-basis: 60%;
            justify-content: space-between;
           &__coll {
                flex-basis: 22%;
                span {
                    line-height: 45px;
                }
           }
        }
        &-contanier {
            flex-basis: 30%;
        } 
    }
    &-contact {
        display: flex;
        justify-content: space-between;
        margin-top: 94px;
        &-local {
            &__logo {
                display: flex;
                align-content: center;
                font-size: 20;
                font-weight: bold;
                img {
                    margin-right: 5px;
                }
            }
            p {
                line-height: 25px;
                margin-top: 15px;
            }
        }
        &-social {
            text-align: right;
            &-subtitle {
                margin-top: 24px;
                display: flex;
                &__line {
                    border: 1px solid $color-white;
                    margin: 0 20px 0 20px;
                    padding: 0;
                }
                p {
                    line-height: 0px;
                }
            }
        }
    }
}
// === / footer ===